<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="./css/styleall.css" /> -->
    <link rel="stylesheet" href="../css/person.css" />
    <link rel="stylesheet" href="../css/styleall.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!--Add this-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <!--Add this-->
    <!--    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Bloodlife</title>
  </head>

  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>
      <div class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item"><a href="/staff" class="navigation__link">About us</a></li>
          <li class="navigation__item"><a href="/staff/addBlood" class="navigation__link">Staff</a></li>
          <li class="navigation__item"><a href="/staff/logout" class="navigation__link">Logout</a></li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <!-- Top navbar -->
      <nav
        class="navbar navbar-top navbar-expand-md navbar-dark"
        id="navbar-main"
      >
        <div class="container-fluid">
          <!-- Brand -->
          <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
              <a
                class="nav-link pr-0"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img
                      alt="Image placeholder"
                      src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    />
                  </span>
                  <div class="media-body ml-2 d-none d-lg-block">
                    <span class="mb-0 text-sm font-weight-bold">Admin</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Header -->
      <div
        class="header pb-8 pt-5 pt-lg-8 align-items-center"
        style="
          min-height: 850px;
          background-image: url(../img/blood.png);
          background-size: cover;
          background-position: center top;
        "
      >
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid align-items-center">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Hello Admin</h1>
              <br />
              <br />
            </div>
          </div>
        </div>
        <div class="container-fluid mb--7">
          <div class="row">
            <div class="col-xl-4 mb-5 mb-xl-0">
              <div class="card card-profile shadow">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                      <a href="#">
                        <img
                          src="https://bootdey.com/img/Content/avatar/avatar7.png"
                          class="rounded-circle"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <div
                  class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
                >
                  <div class="d-flex justify-content-between">
                    <a id="btn2" href="#" class="btn btn-sm btn-info mr-4"
                      >Update user</a
                    >
                    <a
                      id="btn4"
                      href="#"
                      class="btn btn-sm btn-default float-right"
                      >Add blood</a
                    >
                  </div>
                </div>

                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col">
                      <div
                        class="card-profile-stats d-flex justify-content-center mt-md-5"
                      ></div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h3>Admin<span class="font-weight-light"> Cute</span></h3>
                    <div class="h5 mt-4">
                      <i class="ni business_briefcase-24 mr-2"></i>Solution
                      Manager - Creative Tim Officer
                    </div>
                    <!-- <div>
                    <i class="ni education_hat mr-2"></i>University of Computer Science
                  </div>
                  <hr class="my-4">
                  <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                  <a href="#">Show more</a> -->
                  </div>
                </div>
              </div>
            </div>
            <div id="content" class="col-xl-8" style="display: block">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <!--               
              <button id="open" type="submit" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="col-8">
                <div id="requestup" >
                 
                </div>
                <button id="close" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> -->

                  <div class="row align-items-center"></div>
                </div>
                <div class="card-body">
                  <h6 class="heading-small text-muted mb-4">
                    User information
                  </h6>
                  <div class="pl-lg-4">
                    <form onsubmit="return searching()">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-iddonor"
                              >ID Donor</label
                            >
                            <input
                              type="search"
                              id="iddonorsea"
                              name="iddonorsea"
                              class="form-control form-control-alternative"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label"></label>
                            <br />
                            <input
                              type="submit"
                              class="btn btn-sm btn-primary"
                              value="Find"
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                    <hr class="my-4" />
                    <!-- Address -->

                    <form onsubmit="return update()">
                      <div id="div">
                        <tr id="tr">
                          <td></td>
                        </tr>
                        <div class="msg"></div>
                      </div>
                      <table></table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div id="content_bank" class="col-xl-8" style="display: none">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center"></div>
                  <br />
                  <div id="request"></div>
                </div>
                <div class="card-body">
                  <form onsubmit="return addBlood()">
                    <h6 class="heading-small text-muted">Blood information</h6>

                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-iddonor"
                              >ID Donor</label
                            >
                            <input
                              type="text"
                              id="iddonorins"
                              name="iddonorins"
                              class="form-control form-control-alternative"
                              placeholder="iddonor"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-product"
                              >Product type</label
                            >
                            <select
                              id="productins"
                              name="productins"
                              class="form-control form-control-alternative"
                            >
                              <option value="Red Blood Cells">
                                Red Blood Cells
                              </option>
                              <option value="Platelets">Platelets</option>
                              <option value="Plasma">Plasma</option>
                              <option value="Whole Blood">Whole Blood</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-collection"
                            >
                              Collection Date</label
                            >
                            <input
                              type="date"
                              id="collectionins"
                              name="collectionins"
                              class="form-control form-control-alternative"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label
                              class="form-control-label"
                              for="input-bloodtype"
                              >Blood type</label
                            >
                            <select
                              id="bloodtypeins"
                              name="bloodtypeins"
                              class="form-control form-control-alternative"
                            >
                              <option value="A+">A RhD positive (A+)</option>
                              <option value="A-">A RhD negative (A-)</option>
                              <option value="B+">B RhD positive (B+)</option>
                              <option value="B-">B RhD negative (B-)</option>
                              <option value="O+">O RhD positive (O+)</option>
                              <option value="O-">O RhD negative (O-)</option>
                              <option value="AB+">AB RhD positive (AB+)</option>
                              <option value="AB-">AB RhD negative (AB-)</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-volume"
                              >Volume (ml)</label
                            >
                            <select
                              id="volumeins"
                              name="volumeins"
                              class="form-control form-control-alternative"
                            >
                              <option value="200">200 ml</option>
                              <option value="300">300 ml</option>
                              <option value="350">350 ml</option>
                              <option value="500">500 ml</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group focused">
                            <label
                              class="form-control-label"
                              for="input-medical"
                              >Medical Record</label
                            >
                            <textarea
                              type="text"
                              id="medicalins"
                              class="form-control form-control-alternative"
                              name="medicalins"
                            >
                            </textarea>
                          </div>
                        </div>
                      </div>

                      <!-- Address -->

                      <input
                        type="submit"
                        class="btn btn-sm btn-primary"
                        value="Submit"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
    </div>
  </body>

  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet" />

<link href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

  <script language="javascript">
    document.getElementById("close").onclick = function () {
      document.getElementById("requestup").style.display = "none";
    };
    document.getElementById("open").onclick = function () {
      document.getElementById("requestup").style.display = "block";
    };
  </script>
  <script>
    setTimeout(function () {
      $("#requetu").fadeOut("fast");
    }, 5000); // <-- time in milliseconds
  </script>

  <script language="javascript">
    document.getElementById("btn2").onclick = function () {
      document.getElementById("content_bank").style.display = "none";
      document.getElementById("content").style.display = "block";
    };

    document.getElementById("btn4").onclick = function () {
      document.getElementById("content_bank").style.display = "block";
      document.getElementById("content").style.display = "none";
    };
  </script>
  <!-- req.send("iddonor="+iddonor+"&producttype"+producttype+"&bloddtype="+bloodtype+"&collection="+collection+"&volume="+volume+"&medical="+medical -->
  <script>
    function update() {
      var iddonorup = document.getElementById("iddonorup");
      var bloodtypeup = document.getElementById("bloodtypeup");
      var cancelup = document.getElementById("cancelup");
      var medicalup = document.getElementById("medicalup");

      var req = new XMLHttpRequest();

      req.open("POST", "/staff/update");
      req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      req.send(
        "iddonorup=" +
          iddonorup.value +
          "&bloodtypeup=" +
          bloodtypeup.value +
          "&cancelup=" +
          cancelup.value +
          "&medicalup=" +
          medicalup.value
      );

      req.onreadystatechange = function () {
        if (req.readyState == 4 && req.status == 200) {
          document.getElementById("requestup").innerHTML = req.responseText;

          document.querySelectorAll("#row").forEach(function (ele) {
            ele.remove();
          });
        }
      };
      return false;
    }
  </script>

  <script language="javascript">
    function addBlood() {
      var iddonorins = document.getElementById("iddonorins");
      var bloodtypeins = document.getElementById("bloodtypeins");
      var productins = document.getElementById("productins");
      var collectionins = document.getElementById("collectionins");
      var volumeins = document.getElementById("volumeins");
      var medicalins = document.getElementById("medicalins");

      var req = new XMLHttpRequest();
      req.open("POST", "/staff/addBlood");
      req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      req.send(
        "iddonorins=" +
          iddonorins.value +
          "&productins=" +
          productins.value +
          "&bloodtypeins=" +
          bloodtypeins.value +
          "&collectionins=" +
          collectionins.value +
          "&volumeins=" +
          volumeins.value +
          "&medicalins=" +
          medicalins.value
      );

      req.onreadystatechange = function () {
        if (req.readyState == 4 && req.status == 200) {
          document.getElementById("request").innerHTML = req.responseText;

          iddonorins.value = "";
          collectionins.value = "";
          medicalins.value = "";
        }
      };

      return false;
    }
  </script>

  <script>
    function searching() {
      document.querySelectorAll("#tr").forEach(function (ele) {
        ele.remove();
      });
      document.querySelectorAll("#row").forEach(function (ele) {
        ele.remove();
      });
      document.querySelectorAll("#msg").forEach(function (ele) {
        ele.remove();
      });
      document.querySelectorAll("#requestup").forEach(function (ele) {
        ele.remove();
      });
      var iddonorsea = document.getElementById("iddonorsea").value;

      var div = document.getElementById("div");
      var req = new XMLHttpRequest();

      req.open("GET", "/staff/searching?iddonorsea=" + iddonorsea);
      req.send();

      req.onreadystatechange = function () {
        if (req.readyState == 4 && req.status == 200) {
          var obj = JSON.parse(req.responseText);

          if (obj.length > 0) {
            for (let i = 0; i < obj.length; i++) {
              div.innerHTML += "<div id='requestup'</div>";

              div.innerHTML +=
                "<div class='row' id='row'><div class='col-lg-6'><div class='form-group'><label class='form-control-label' for='input-username'>Name</label><input type='text' id='input-username' class='form-control form-control-alternative' disabled value=" +
                obj[i]["name"] +
                " ></div></div><div class='col-lg-6'><div class='form-group'><label class='form-control-label' for='input-ssn'>SSN</label><input type='text' id='input-ssn' class='form-control form-control-alternative' value=" +
                obj[i]["ssn"] +
                " disabled></div> </div> </div>";

              div.innerHTML +=
                "<div class='row' id='row'><div class='col-lg-6'><div class='form-group'><label class='form-control-label' for='input-gender'>Gender</label><input type='text' id='input-gender' class='form-control form-control-alternative' disabled value=" +
                obj[i]["gender"] +
                " ></div></div><div class='col-lg-6'><div class='form-group'><label class='form-control-label' for='input-dob'>Birdays</label><input type='text' id='input-dob' class='form-control form-control-alternative' value=" +
                obj[i]["birthday"] +
                " disabled></div> </div> </div>";

              div.innerHTML +=
                "<div class='row' id='row'><div class='col-lg-6'><div class='form-group'><label class='form-control-label' for='input-phone'>Phone</label><input type='text' id='input-phone' class='form-control form-control-alternative' disabled value=" +
                obj[i]["phone"] +
                " ></div></div><div class='col-lg-6'><div class='form-group'><label class='form-control-label' for='input-email'>Email</label><input type='email' id='input-email' class='form-control form-control-alternative' value=" +
                obj[i]["email"] +
                " disabled></div> </div> </div>";

              div.innerHTML +=
                "<div class='row' id='row'><div class='col-lg-6'><div class='form-group'><label class='form-control-label' for='input-addr'>Address</label><input type='text' id='input-addr' class='form-control form-control-alternative' disabled value=" +
                obj[i]["address"] +
                " ></div></div> </div>";

              div.innerHTML +=
                "<div class='row'id='row'><div class='col-lg-6'><div class='form-group focused'><label class='form-control-label' for='input-bloodtype'>Blood type</label><select id='bloodtypeup' name='bloodtypeup' class='form-control form-control-alternative'><option value='A+'>A RhD positive (A+)</option><option value='A-'>A RhD negative (A-)</option><option value='B+'>B RhD positive (B+)</option><option value='B-'>B RhD negative (B-)</option><option value='O+'>O RhD positive (O+)</option><option value='O-'>O RhD negative (O-)</option><option value='AB+'>AB RhD positive (AB+)</option><option value='AB-'>AB RhD negative (AB-)</option></select></div></div><div class='col-lg-6'><div class='form-group focused'><label class='form-control-label' for='input-donate'>Donate</label><select id='cancelup' name='cancelup' class='form-control form-control-alternative'><option value='1'>Cancel Donate</option><option value='0'>Can Donate</option></select></div></div></div>";

              div.innerHTML +=
                "<div class='row'id='row'> <div class='col-lg-12'><div class='form-group focused'> <label class='form-control-label' for='input-medical'>Medical Record</label><textarea id='medicalup' class='form-control form-control-alternative' name='medicalup'> </textarea></div></div></div><button type='submit' class='btn btn-sm btn-primary' id='row'>Submit</button>";

              div.innerHTML +=
                "<input type='hidden' id='iddonorup'value=" +
                obj[i]["did"] +
                ">";
            }
          } else {
            div.innerHTML +=
              "<div id='msg'class='alert alert-warning alert-dismissible ' role='alert'> <strong>No Donor!</strong></div>";
          }
        }
      };
      return false;
    }
  </script>
</html>
