<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/styleall.css" />
    <link rel="stylesheet" href="../css/icomoon.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Add this-->
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!--Add this-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--Add this-->


    <title>Home</title>

</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <div class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/donor" class="navigation__link">About us</a></li>
                <li class="navigation__item"><a href="/donor/nutri" class="navigation__link">Nutrition</a></li>
                <li class="navigation__item"><a href="/donor/appointment" class="navigation__link">Appointment</a></li>
                <li class="navigation__item"><a href="/donor/information" class="navigation__link">Personal Information</a></li>
                <li class="navigation__item"><a href="/donor/logout" class="navigation__link" >Logout</a></li>
            </ul>
        </div>
    </div>
    <header class="header">
        <div class="header__logo-box">
            <img src="../img/logo-heart.png" class="logo" alt="logo">
        </div>
        <div class="header__text-box">
            <h3 class="heading-primary">
                <span class="heading-primary--main">BLoodLife</span>
                <span class="heading-primarty--sub">Donate blood,save life !</span>
                <span class="heading-primarty--detail">Urgent notice, we are currently short of RH+ blood group in the blood bank. If you have this blood type, please contact us immediately.</span>
            </h3>
            <a href="#" class="btn btn--white btn--animated"> Contact us </a>
        </div>
    </header>
    <main>
        
        <section class="section-about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="about-details">
                            <h3 class="heading-secondary">Who We are?</h3>
                                <div> 
                                    <span class="heading-separator"></span>
                                </div>
                            <p class="about-details-first">
                                Blood Buddies is for public donation center with blood donation members in the changing health care system.
                            </p>
                            <ul class="about-details-list">
                                <li class="about-details-list--1">Specialist blood donors and clinical supervision.</li>   
                                
                                <li>Increasing communication with our members.</li>
                            
                                <li>High quality assessment, diagnosis and treatment.</li>
                                
                                <li>Examine critically to ensure alignment.</li>
                                
                                <li>The extra care of a multi-disciplinary team.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="composition">
                            <img
                            srcset="img/humangroups1.png 1920w, img/humangroups1-small.png 600w"
                            sizes="(max-width: 900px) 13vw, (max-width: 600px) 20vw, 270px"
                            src="./img/gallery_5.jpg" alt="photo1"
                            class="composition__photo composition__photo--p1">
                            <img src="./img/gallery_6.jpg" alt="photo2"
                                class="composition__photo composition__photo--p2">
                            <img src="./img/gallery_3.jpg" alt="photo3"
                                class="composition__photo composition__photo--p3">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="parallax__skill">
         <section class="section-skills">
             <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="skill-box">
                            <i class=" skill-box__icon fas fa-globe-americas"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">global skill</h3>
                            <div class="skill-box__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit, Neque, quas
                                doloribus corporis debitis soluta atque.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="skill-box">
                            <i class=" skill-box__icon fas fa-book-open"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">google's knowledge</h3>
                            <div class="skill-box__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit, Neque, quas
                                doloribus corporis debitis soluta atque.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="skill-box">
                            <i class=" skill-box__icon fas fa-users"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">leader of your life</h3>
                            <div class="skill-box__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit, Neque, quas
                                doloribus corporis debitis soluta atque.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="skill-box">
                            <i class=" skill-box__icon fas fa-hourglass-half"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">saving your time</h3>
                            <div class="skill-box__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit, Neque, quas
                                doloribus corporis debitis soluta atque.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <section class="section-sales">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="img-sales">
                        <img src="./img/img-sales.png" alt="photo-sales" class="img-sales__photo img-sales__photo--1">
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <h3 class="heading-tertiary u-margin-bottom-small">FEATURE LIST</h3>
                        <h3 class="heading-tertiary u-margin-bottom-big">Performance Graph </h3>
                        <h3 class="heading-tertiary u-margin-bottom-big-pu">UX DesignT </h3>
                    
                    <div class="section-sales-list--1">
                        <div class="container">
                            <div class="row">
                                <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <div class="img-sales--bg">
                                        <img src="./img/logo-sales-1.png" alt="photo-sales" class="img-sales__photo--2">
                                    </div>
                                </div>
                                <div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                    <h3>Get a Free App Trial</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-sales-list--2">
                        <div class="container">
                            <div class="row">
                                <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <div class="img-sales--bg">
                                        <img src="./img/logo-sales-2.png" alt="photo-sales" class="img-sales__photo--3">
                                    </div>
                                </div>
                                <div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                    <h3>Get a Free App Trial</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-number">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="section-number--details">
                            <h3><span class="counter">500</span></h3>
                            <h4>Faster More then Older</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="section-number--details">
                            <h3><span class="counter">95</span>%</h3>
                            <h4>Faster More then Older</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="section-number--details">
                            <h3><span class="counter">5</span></h3>
                            <h4>Faster More then Older</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<br>
        <div class="parallax__slide">
        <section class="section-slide">
            <div class="container">
                <div class="row" >
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <div class="section-slide--details">
                            <h3 class="heading-secondary">OUR CAMPAIGNS</h3>
                            <div>
                                <span class="heading-separator"></span>
                            </div>
                            <div class="event-exceprt"> All over the world we have arranged total sixty thousands donation campaign and visit thousands of other venues on various occasions.</div>
                            <a href="#" class="btn btn--orange btn--animated">See our courses</a>

                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="slideshow-container">
                            <!-- Full-width images with number and caption text -->
                            <div class="mySlides fade">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <img src="./img/event_4.jpg">
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="event-info"> 
                                                <a class="event-date" href="#"><i class="fa-solid fa-calendar-days"></i> 24 February, 2018</a>
                                                <h4>
                                                    <a class="event-open"href="#">Opening Donation Day</a>
                                                </h4>
                                                <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                                <div class="event-timewhere">
                                                    <a class="event-time" href="#"><i class="fa-solid fa-clock"></i> 10.00 - 3.00</a>
                                                    <a class="event-where"href="#"><i class="fa-solid fa-location-dot"></i></i> California, USA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="mySlides fade">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <img src="./img/event_4.jpg">
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="event-info"> 
                                                <a class="event-date" href="#"><i class="fa-solid fa-calendar-days"></i> 24 February, 2018</a>
                                                <h4>
                                                    <a class="event-open"href="#">Opening Donation Day</a>
                                                </h4>
                                                <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                                <div class="event-timewhere">
                                                    <a class="event-time" href="#"><i class="fa-solid fa-clock"></i> 10.00 - 3.00</a>
                                                    <a class="event-where"href="#"><i class="fa-solid fa-location-dot"></i></i> California, USA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="mySlides fade">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <img src="./img/event_4.jpg">
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="event-info"> 
                                                <a class="event-date" href="#"><i class="fa-solid fa-calendar-days"></i> 24 February, 2018</a>
                                                <h4>
                                                    <a class="event-open"href="#">Opening Donation Day</a>
                                                </h4>
                                                <div class="event-exceprt">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</div>
                                                <div class="event-timewhere">
                                                    <a class="event-time" href="#"><i class="fa-solid fa-clock"></i> 10.00 - 3.00</a>
                                                    <a class="event-where"href="#"><i class="fa-solid fa-location-dot"></i></i> California, USA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        
                        
                        <!-- The dots/circles -->
                        <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
         <!-- <section class="section-testimonials">
            
            <div class="container">
            <div class="bg-video">
               <video class="bg-video__content" autoplay muted loop>
                
                    <source src="img/bg-testi.mp4" type="video/mp4">
                    
                    <source src="img/bg-testi.webm" type="video/webm">
                     Your browser is not supported
                    </video>
            </div>

            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    testimonials
                </h2>
            </div>
            <div class="row">
                <div class="testimonial">
                    <figure class="testimonial__shape">
                        <img src="./img/person1.jpg" class="testimonial__img" alt="photo1">
                        <figcaption class="testimonial__caption">
                            Lionel Meshi
                        </figcaption>
                    </figure>
                    <div class="testimonial__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            thank for your guide
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Incidunt repellat tenetur officia quis quasi,
                            temporibus neque reiciendis quaerat exercitationem quibusdam?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Possimus dolorem labore nam?
                        </p>
                    </div>
                </div>
                <div class="testimonial">
                    <figure class="testimonial__shape">
                        <img src="./img/person2.jpg" class="testimonial__img" alt="photo2">
                        <figcaption class="testimonial__caption">
                            Hellarri Cshinson
                        </figcaption>
                    </figure>
                    <div class="testimonial__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            very helpful course
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Incidunt repellat tenetur officia quis quasi,
                            temporibus neque reiciendis quaerat exercitationem quibusdam?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Possimus dolorem labore nam?
                        </p>
                    </div>
                </div>
            </div>
            <div class="u-center-text u-margin-top-big u-margin-bottom-big">
                <a href="#" class="btn-text">read all the testimonials &rarr;</a>
            </div>
        </div>
        </section>  -->
        <!-- <div class="parallax__enroll">
        <section class="section-enroll">
            <div class="container">
                <div class="row">
                    <div class="enroll">
                        <div class="enroll__form">
                            <form class="form">
                                <div>
                                    <h2 class="heading-secondary">
                                        enroll now
                                    </h2>
                                </div>
                                <div class="form__group">
                                    <input id="name" type="text" class="form__input" placeholder="full name" required>
                                    <label for="name" class="form__label">Full name</label>
                                </div>
                                <div class="form__group">
                                    <input id="email" type="email" class="form__input" placeholder="email" required>
                                    <label for="email" class="form__label">Email</label>
                                </div>
                                <div class="form__group">
                                    <div class="form__radio-group">
                                        <input type="radio" class="form__radio-input" id="male" name="gender">
                                        <label for="male" class="form__radio-label">
                                            <span class="form__radio-button"></span>
                                            Male
                                        </label>
                                    </div>
                                    <div class="form__radio-group">
                                        <input type="radio" class="form__radio-input" id="female" name="gender">
                                        <label for="female" class="form__radio-label">
                                            <span class="form__radio-button"></span>
                                            Female
                                        </label>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <input id="phone" type="phone" class="form__input" placeholder="phone" required>
                                    <label for="phone" class="form__label">Phone</label>
                                </div>
                                <div class="form__group">
                                    <input id="donation" type="donation" class="form__input" placeholder="Donation Center" required>
                                    <label for="donation" class="form__label">Donation Center</label>
                                </div>
                                <div class="form__group">
                                    <input id="date" type="date" class="form__input" placeholder="Date" required>
                                    
                                </div>
                                <div class="form__group">
                                    <a href="#" class="btn btn--blue">
                                        Submit &rarr;
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div> -->

    </main>
    
</body>

<script>
        var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    }
</script>



    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
   
   <script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 10,
            time: 5000
        })
    })
</script>
</html>
