<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="/image/LogoAI.png" />
    <title>AI Doctor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!--Add this-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <!--Add this-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <!--Add this-->

    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/nuti.css" />
    <link rel="stylesheet" href="../css/styleall.css" />
  </head>
  <body>
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>
      <div class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item"><a href="/donor" class="navigation__link">About us</a></li>
          <li class="navigation__item"><a href="/donor/nutri" class="navigation__link">Nutrition</a></li>
          <li class="navigation__item"><a href="/donor/appointment" class="navigation__link">Appointment</a></li>
          <li class="navigation__item"><a href="/donor/information" class="navigation__link">Personal Information</a></li>
          <li class="navigation__item"><a href="/donor/logout" class="navigation__link" >Logout</a></li>
        </ul>
      </div>
    </div>
    <nav>
      <div class="container__fluid padding" id="container__fluid">
        <div class="row text-center padding">
          <div class="col-md-12">
            <h1 class="container__title">Ready to start saving lives?</h1>
            <p class="container__text">
              When you give blood, you’re more than just a donor. You’re the
              Lifeblood of your friends, family and community. Join us and book
              your donation today.
            </p>
          </div>
        </div>
      </div>
    </nav>
    <div class="parallax1"></div>

    <div class="container__fluid padding" id="product__type1">
      <div class="row">
        <div class="col-xl-12">
          <div class="border_product">
            <h1 class="text__product">What can I give?</h1>
            <p class="para_product">
              Choose between plasma, blood or platelets. If you don’t know your
              blood type, book the donation that best suits you. We can tell you
              your blood type and talk about the best donation for you to give
              next time.
            </p>
            <br />
            <br />
            <br />
          </div>
          <div class="row" id="before__process">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <img
                src="/img/EQ_DonationPlasma.png"
                width="150px"
                height="150px"
              />
              <h3 class="product__title">Plasma</h3>
              <p class="para_product">
                Over half of your blood is a liquid called plasma – and donating
                it is a game-changer. Your plasma can help in 18 life-giving
                ways, from treating serious burns to cancer.
              </p>
              <div class="question__product">
                <h4 class="product__detail">
                  <strong>How long does it take?</strong>
                </h4>
                <p class="para_product">
                  45 minutes to donate, up to 1.5 hours for the whole
                  appointment.
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <img
                src="/img/blood-bag-badge-250x250.png"
                width="150px"
                height="150px"
              />
              <h3 class="product__title">Blood</h3>
              <p class="para_product">
                Short on time? Choose ‘blood’, and you could save up to 3 lives
                before lunch! If you time it right, you could even donate during
                your lunch break with snacks on us.
              </p>
              <div class="question__product">
                <h4 class="product__detail">
                  <strong>How long does it take?</strong>
                </h4>
                <p class="para_product">
                  10 minutes to donate, 60 minutes for the whole appointment.
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <img
                src="/img/EQ_DonationPlatelets.png"
                width="150px"
                height="150px"
              />
              <h3 class="product__title">Plasma</h3>
              <p class="para_product">
                Over half of your blood is a liquid called plasma – and donating
                it is a game-changer. Your plasma can help in 18 life-giving
                ways, from treating serious burns to cancer.
              </p>
              <div class="question__product">
                <h4 class="product__detail">
                  <strong>How long does it take?</strong>
                </h4>
                <p class="para_product">
                  60 minutes to donate, about 2 hours for the whole appointment.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container__fluid padding">
      <div class="row" id="ques_heal">
        <div class="col-md-12 col-lg-3 col-xl-3">
          <img
            src="/img/team-walking_0.png"
            height="450"
            width="350"
            id="imgFAQ"
          />
        </div>
        <div class="col-md-12 col-lg-9 col-xl-9">
          <div class="header_detail">
            <div class="text__product">How do I donate?</div>
          </div>
          <div class="number_block">
            <div class="number_block__wrapper">
              <div class="number">1</div>
              <div class="number_block__wrapper__content">
                <p>
                  Check your eligibility. Sometimes people have to wait before
                  they can donate so it’s best to double check.
                </p>
              </div>
            </div>
            <div class="number_block__wrapper">
              <div class="number">2</div>
              <div class="number_block__wrapper__content">
                <p>
                  Find a donor centre. You can give life close to home, or near
                  the office on your lunch break — it’s simple to find a centre
                  that suits you.
                </p>
              </div>
            </div>
            <div class="number_block__wrapper">
              <div class="number">3</div>
              <div class="number_block__wrapper__content">
                <p>
                  Book a donation. Get ready to start calling yourself a
                  ‘life-saver’! Find a time and day that works for you and book
                  it in.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container__fluid padding" id="product__type">
          <div class="row">
            <div class="col-xl-12">
              <div class="border_product">
                <h1 class="text__product">
                  What is the preparation process before and after blood
                  donation?
                </h1>
              </div>
            </div>
          </div>
          <section class="section-about">
            <div class="container__fluid padding">
              <div class="about-details">
                <h3 class="heading-third">Prepare and after care</h3>
              </div>
            </div>
          </section>

          <section class="before__process">
            <div class="container__fluid padding">
              <h3 class="process__title">Before you donate</h3>
              <div class="row" id="before__process">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="test">
                    <div class="process__detail">
                      <i class="fa-solid fa-martini-glass-citrus"></i
                      ><strong>Hydrate and eat</strong>
                    </div>
                    <p class="para_product">
                      One of the most important things you can do to look after
                      your own health is to drink lots of fluids and have plenty
                      to eat.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="process__detail">
                    <i class="fa-solid fa-clock-rotate-left"></i
                    ><strong>The day before</strong>
                  </div>
                  <ul class="about-details-list">
                    <li>
                      Drink&nbsp;plenty of fluids — 10 glasses for men or 8
                      glasses for women.&nbsp;
                    </li>
                    <li>
                      Try to get a good night’s sleep.&nbsp;<br />
                      &nbsp;
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="process__detail">
                    <i class="fa-solid fa-clock-rotate-left"></i
                    ><strong> 3hrs before</strong>
                  </div>
                  <ul class="about-details-list">
                    <li>
                      Drink&nbsp;plenty of fluids — 10 glasses for men or 8
                      glasses for women.&nbsp;
                    </li>
                    <li>
                      Try to get a good night’s sleep.&nbsp;<br />
                      &nbsp;
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="container__fluid padding" id="at__center">
      <div class="parallax2"></div>
      <section class="after__process">
        <div class="container__fluid padding">
          <h3 class="process__title">At the donor centre</h3>
          <div class="row" id="before__process">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="process__detail"><strong>Welcome</strong></div>
              <p class="para_product">
                When you walk in the door, you'll be greeted by our reception
                staff member. They’ll check your valid ID. This is probably the
                best time to speak up if you need your parking validated.
              </p>
              <p class="para_product">
                Then, you’ll take a seat and fill out the confidential donor
                questionnaire they give you. (If you'd like to see the
                questionnaire in advance)
              </p>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="process__detail"><strong>Interview</strong></div>
              <p class="para_product">
                In a private room, a trained staff member will go over your
                questionnaire answers with you and ask some questions to check
                that you’re fine to donate.
              </p>

              <p class="para_product">
                They’ll give you a quick ‘finger prick’ test to check your
                haemoglobin (a protein which contains iron) and test your blood
                pressure.
              </p>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="process__detail"><Strong>Donate</Strong></div>
              <p class="para_product">
                Sit back and relax on a comfy couch. You can read, chat with our
                team or other donors, or just enjoy some quiet time.
              </p>

              <p class="para_product">
                We’ll keep a close eye on you the whole time to make sure you’re
                OK. Talk to a staff member if you feel uncomfortable or worried
                at any point.
              </p>
              <p class="para_product">
                Congratulations! Your donation is done. Now it's time to
                celebrate.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container__fluid padding" id="product__type">
      <section class="after__process">
        <div class="container__fluid padding">
          <h3 class="process__title">After you donate</h3>
          <div class="row" id="before__process">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="process__detail">
                <i class="fa-solid fa-clock-rotate-left"></i
                ><Strong> Right after</Strong>
              </div>
              <p class="para_product">
                It’s tempting to hurry over to the refreshments area to have
                your pick of the snacks, but take your time before you get up.
                It’s important that you rest for a few minutes in the donor
                chair.
              </p>
              <p class="para_product">
                When you’re ready, you can head over to the refreshments area to
                relax for another 15 minutes. Find your favourite snack, have a
                cool drink, maybe make a cup of tea, and enjoy.
              </p>
              <p class="para_product">
                Make sure you grab a juice or water on your way out.
              </p>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="process__detail">
                <i class="fa-solid fa-clock-rotate-left"></i
                ><Strong>The day before</Strong>
              </div>
              <p class="para_product">
                Drink plenty more fluids. Aim for another 3 good-sized glasses
                in the first 3 hours.
              </p>

              <p class="para_product">
                Take a seat when you can. Your body needs a bit of time to
                recover, so try to avoid spending too much time on your feet.
              </p>

              <p class="para_product">
                Try not to overheat. Some days it’s tricky, but do your best to
                avoid hot showers, rushing around, standing in direct sun and
                hot drinks.
              </p>
              <p class="para_product">Stay away from alcoholic drinks.</p>
              <p class="para_product">
                Eat regular meals — you’ll need your energy.
              </p>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="process__detail">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <Strong>3hrs before</Strong>
              </div>
              <p class="para_product">
                Avoid strenuous exercise (like cycling, jogging or going to the
                gym) or hazardous activities, including activities or jobs where
                public safety may be affected. If you’re not sure whether that
                applies to your job, check with your boss, donate outside of
                work hours, or bring it up in your pre-donation interview.
              </p>

              <p class="para_product">
                Most people feel great after they donate. In fact, you’re
                probably feeling pretty good about yourself (as you should!),
                but if you feel unwell at any point, please call us on 13 14 95.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container padding pt-5" id="container__description">
      <div class="row text-center padding">
        <div class="col-md-12" id="text__after-header">
          <h3 class="text__after-header--title">You ready to give blood</h3>
          <br />
          <a
            href="/donor/appointment"
            class="btn-primary text-white ml-0 xs:ml-4"
            role="button"
            >YES!!!!!</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
