<body>
    <div id="msg_error"class="alert alert-danger alert-dismissible " role="alert">
      <strong> <% if (message) { %>
        <%= message %>
    <% } %></strong> 
    </div>
    
    </body>
    
    